



<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h1 class="mb-3">Edit Listing</h1>
                <form method="post" class="needs-validation" novalidate action="/listings/<%=data._id%>/edit?_method=PUT">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" required name="title" value="<%=data.title%>" class="form-control">
                        <div class="invalid-feedback">Enter Valid Title</div>
 

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="5" required cols="30" type="text" name="description"
                            class="form-control"> <%=data.description%></textarea>
                        <div class="Enter Some Description">Enter Valid Title</div>


                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image Url</label>
                        <input type="text" required name="image[url]" value="<%=data.image.url%>" class="form-control">
                        <div class="invalid-feedback">Enter Valid link</div>


                    </div>
                    <div class="row ">



                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" required name="price" value="<%=data.price%>" class="form-control">
                        <div class="invalid-feedback">Enter Price</div>


                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" required name="country" value="<%=data.country%>" class="form-control">
                        <div class="invalid-feedback">Enter Country</div>


                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" required name="location" value="<%=data.location%>" class="form-control">
                        <div class="invalid-feedback">Enter Location</div>

                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Edit</button>
                </form>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>